<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Ashrah</title>
</head>
<body>
<h1>Information about Ashrah from Mortal Kombat 1</h1>

<div>
    <img src="/images/AshrahLarge.jpg" alt="Фото персонажа Ashrah">
    <h2>Character Name: Ashrah</h2>
    <p>Ashrah is a character in the Mortal Kombat fighting game series,
        who made her debut in Mortal Kombat: Deception. She is a demoness who desires absolution from the Netherrealm,
        by slaying demons with an enchanted kriss sword called Datusha.

        Ashrah returns playable again for the first time in Mortal Kombat 1. </p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Lightning Blast</li>
        <li>Spin Cycle</li>
        <li>Nature's Torpedo</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Demon's Wrath</li>
        <li>Dark Ascension</li>
        <li>Soul Slice</li>
    </ul>
</div>
</body>
</html>
