<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Baraka</title>
</head>
<body>
<h1>Information about Baraka from Mortal Kombat 1</h1>

<div>
    <img src="/images/BarakaLarge.jpg" alt="Фото персонажа Baraka">
    <h2>Character Name: Baraka</h2>
    <p>Biography: Baraka is a character in the Mortal Kombat fighting game series.
        A general of the Tarkatan Horde, he has served as an antagonist throughout the series,
        serving Outworld and its Empire while being loyal to the half-Tarkatan Mileena and her father Shao Kahn.

        Baraka made his debut in Mortal Kombat II as the first playable Tarkatan
        of the series and has been a recurring character since.

        Baraka returned in Mortal Kombat 11 as a playable character while also serving as a
        supporting character in the game's Story Mode.

        A new version of Baraka appears in Mortal Kombat 1 as a playable character while once again serving
        as a supporting character in the game's Story Mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Chop Chop Blades</li>
        <li>Blade Spin</li>
        <li>Blade Swipe</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Scrape Kick</li>
        <li>Blade Charge</li>
        <li>Leg Kabob</li>
    </ul>
</div>
</body>
</html>
