<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список персонажей</title>
</head>
<body>
<h1>Список персонажей</h1>
<div>
    <img src="/images/JohnnySmall.jpg" alt="Фото персонажа Johnny-Cage">
    <h2>Character Name: Johnny Cage</h2>
</div>
<div>
    <img src="/images/SubZeroSmall.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Sub-Zero</h2>
</div>
<div>
    <img src="/images/photo_2023-11-01_20-23-40.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Scorpion</h2>
</div>
<div>
    <img src="/images/LiuKangSmall.jpg" alt="Фото персонажа Liu-Kang">
    <h2>Character Name: Liu-Kang</h2>
</div>
<div>
    <img src="/images/TanyaSmall.jpg" alt="Фото персонажа Tanya">
    <h2>Character Name: Tanya</h2>
</div>
<div>
    <img src="/images/SmokeSmall.jpg" alt="Фото персонажа Smoke">
    <h2>Character Name: Smoke</h2>
</div>
<div>
    <img src="/images/SindelSmall.jpg" alt="Фото персонажа Sindel">
    <h2>Character Name: Sindel</h2>
</div>
<div>
    <img src="/images/ShangSmall.jpg" alt="Фото персонажа Shang-Qung">
    <h2>Character Name: Shang-Qung</h2>
</div>
<div>
    <img src="/images/ReptileSmmall.jpg" alt="Фото персонажа Reptile">
    <h2>Character Name: Reptile</h2>
</div>
<div>
    <img src="/images/ReikoSmall.jpg" alt="Фото персонажа Reiko">
    <h2>Character Name: Reiko</h2>
</div>
<div>
    <img src="/images/RainSmall.jpg" alt="Фото персонажа Rain">
    <h2>Character Name: Rain</h2>
</div>
<div>
    <img src="/images/RaidenSmall.jpg" alt="Фото персонажа Raiden">
    <h2>Character Name: Raiden</h2>
</div>
<div>
    <img src="/images/NitaraSmall.jpg" alt="Фото персонажа Nitara">
    <h2>Character Name: Nitara</h2>
</div>
<div>
    <img src="/images/MileenaSmall.jpg" alt="Фото персонажа Mileena">
    <h2>Character Name: Mileena</h2>
</div>
<div>
    <img src="/images/LiSamall.jpg" alt="Фото персонажа Li-Mei">
    <h2>Character Name: Li Mei</h2>
</div>
<div>
    <img src="/images/KungSmall.jpg" alt="Фото персонажа Kung-Lao">
    <h2>Character Name: Kung-Lao</h2>
</div>
<div>
    <img src="/images/KitanaSmall.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Kitana</h2>
</div>
<div>
    <img src="/images/KenshiSmall.jpg" alt="Фото персонажа Kenshi">
    <h2>Character Name: Kenshi</h2>
</div>
<div>
    <img src="/images/GerasSmall.jpg" alt="Фото персонажа Geras">
    <h2>Character Name: Geras</h2>
</div>
<div>
    <img src="/images/BarakaSmall.jpg" alt="Фото персонажа Baraka">
    <h2>Character Name: Baraka</h2>
</div>
<div>
    <img src="/images/AshrahSmall.jpg" alt="Фото персонажа Ashrah">
    <h2>Character Name: Ashrah</h2>
</div>
<ul>
    <li th:each="character : ${characters}">
        <a th:href="@{/characters/{id}(id=${character.id})}" th:text="${character.name}"></a>
    </li>
</ul>
</body>
</html>