<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Geras</title>
</head>
<body>
<h1>Information about Geras from Mortal Kombat 1</h1>

<div>
    <img src="/images/GerasLarge.jpg" alt="Фото персонажа Geras">
    <h2>Character Name: Geras</h2>
    <p>Biography:Geras is a character in the Mortal Kombat fighting game series.
        An immortal, artificial construct created by the former Keeper of Time,
        Kronika, Geras is now one of the two Keepers of Time alongside Liu Kang,
        and watches over the timelines & the New Era with his new master & friend.

        Geras made his debut in Mortal Kombat 11 as a playable character
        while serving as an antagonist in the game's Story Mode.

        Geras returns in Mortal Kombat 1 as a playable character while also serving as a supporting character
        in the game's Story Mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Sand Trap</li>
        <li>Titan Tackle</li>
        <li>Big Fist</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Sand Simulacrum</li>
        <li>Sand Pillar</li>
        <li>Shifting Sands</li>
    </ul>
</div>
</body>
</html>
