<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Johnny Cage</title>
</head>
<body>
<h1>Information about Johnny Cage from Mortal Kombat 1</h1>

<div>
    <img src="/images/JohnnyLarge.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Johnny Cage</h2>
    <p>Biography: Jonathan "John" Carlton, better known by his stage name Johnny Cage,
        is an action movie star and martial artist in the Mortal Kombat fighting game series.
        He is one of the seven original characters, debuting in the first Mortal Kombat arcade game,
        and remains one of the most popular characters in the franchise to date.

        Johnny Cage has been a central character to the series alongside the likes of Raiden and Liu Kang,
        a role that was later passed down to his daughter, Cassie Cage, as well.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Shadow Uppercut</li>
        <li>Low Fireball</li>
        <li>Plasmic ball</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Green Shadow Kick</li>
        <li>Red Shadow Kick</li>
        <li>Green Shadow Kick</li>
    </ul>
</div>
</body>
</html>