<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Kenshi</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #483D8B, #87CEEB);
        /* Градиент с сине-фиолетового (#483D8B) к голубовато-сиреневому (#87CEEB) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Kenshi from Mortal Kombat 1</h1>

<div>
    <img src="/images/KenshiLarge.jpg" alt="Фото персонажа Kenshi">
    <h2>Character Name: Kenshi</h2>
    <p>Biography: Kenshi Takahashi (高橋剣士) is a character in the Mortal Kombat fighting game series.
        A blind swordsman with the abilities of telekinesis & psychokinesis,
        he is the father of Takeda Takahashi and a major member of the Special Forces and the OIA.

        Kenshi made his playable debut in Mortal Kombat: Deadly Alliance.
        Kenshi returned in Mortal Kombat (2011) as DLC as part of the Season Pass.

        Kenshi returned in Mortal Kombat X as a playable character and as a supporting character
        in the game's Story Mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Telekinetic Toss</li>
        <li>Telekinetic Push</li>
        <li>Telekinetic Toss</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Rising Karma</li>
        <li>Blade Reflect:</li>
        <li>Spirit Charge</li>
    </ul>
</div>
</body>
</html>
