<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Kung-Lao</title>
</head>
<body>
<h1>Information about Kung-Lao from Mortal Kombat 1</h1>

<div>
    <img src="/images/KungLarge.jpg" alt="Фото персонажа Kung-Lao">
    <h2>Character Name: Kung-Lao</h2>
    <p>Biography: Kenshi Takahashi (高橋剣士) is a character in the Mortal Kombat fighting game series.
        A blind swordsman with the abilities of telekinesis & psychokinesis,
        he is the father of Takeda Takahashi and a major member of the Special Forces and the OIA.

        Kenshi made his playable debut in Mortal Kombat: Deadly Alliance. Kenshi returned in Mortal Kombat (2011) as DLC as part of the Season Pass.

        Kenshi returned in Mortal Kombat X as a playable character and as a supporting character in the game's Story Mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Spear Special</li>
        <li>Teleport Punch</li>
        <li>Take Down</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Flame Breath</li>
        <li>Hellfire</li>
        <li>Death Spin</li>
    </ul>
</div>
</body>
</html>
