<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Scorpion</title>
</head>
<body>
<h1>Information about Scorpion из Mortal Kombat 1</h1>

<div>
    <img src="/images/KitanaLarge.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Kitana</h2>
    <p>Biography: Princess Kitana is 10,000 years old but is considered young in her realm of Edenia
        and has the appearance of a young woman. Throughout the years, she rose to great importance;
        first as the loyal stepdaughter of Shao Kahn, then as his enemy,
        tearing herself away from his grasp and freeing her home realm of Edenia.
        She also led an army into Outworld to combat any chance of Shao Kahn rising to power again.

        She has shared a subtle love interest with Mortal Kombat champion Liu Kang,
        even after he was murdered by the Deadly Alliance. Although she was loyal to Shao Kahn for most of her life,
        she eventually betrayed him and aligned herself with the Earthrealmers.
        Her betrayal was mainly the result of growing doubts as to the morality of her actions
        and resulting feelings of guilt,
        as well as anger at the discovery of the truth about her past and her true father, the late King Jerrod.

        Prior to joining the Earthrealmers, she was a cold, arrogant,
        and ruthless assassin who served Shao Kahn dutifully.
        However, after meeting with Raiden and Liu Kang, this veneer began to give way to a kinder,
        selfless, and more noble personality.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Fan Throw</li>
        <li>Square Wave Punch</li>
        <li>Fan Lift</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Glaive Throw</li>
        <li>Princess Parry</li>
        <li>Sharpen</li>
    </ul>
</div>
</body>
</html>
