<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Li-Mei</title>
</head>
<body>
<h1>Information about Li-Mei from Mortal Kombat 1</h1>

<div>
    <img src="/images/LiLarge.jpg" alt="Фото персонажа Li-Mei">
    <h2>Character Name: Li Mei</h2>
    <p>Biography: Li Mei is a character in the Mortal Kombat fighting game series.
        She is a warrior born from the village of Sun Do in Outworld.
        Li Mei made her debut in Mortal Kombat: Deadly Alliance.

        Li Mei returns as a playable fighter for the first time in Mortal Kombat 1,
        since her minor role in Mortal Kombat X and being playable
        for the first time since Mortal Kombat: Armageddon.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Nova Blast</li>
        <li>Flipping Heel Kick</li>
        <li>Flying Flurry</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Lion's Pounce</li>
        <li>Back Stomp</li>
        <li>Half Circle</li>
    </ul>
</div>
</body>
</html>
