<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about Liu-Kang</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #FFFF00, #FF4500);
        /* Градиент с желтого (#FFFF00) к оранжево-красному (#FF4500) */
        color: black; /* Устанавливает цвет текста на черный */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Liu-Kang from Mortal Kombat 1</h1>

<div>
    <img src="/images/LiuKang.jpg" alt="Фото персонажа Liu-Kang">
    <h2>Character Name: Liu-Kang</h2>
    <p>Biography:
        Liu Kang (刘康) is a character in the Mortal Kombat fighting game series.
        A former Shaolin Monk and undisputed champion of the Mortal Kombat Tournament, he is the eternal God of Fire,
        protector of Earthrealm, and the current Keeper of Time.
        Liu Kang has remained one of the most recognizable and memorable characters in the series alongside
        the likes of Raiden, Johnny Cage, Sub-Zero, in one form or another,
        and Scorpion. He serves as the protagonist of the series in many instances.

        Liu Kang made his debut as one of the few original characters in the first Mortal Kombat game
        and is the one of the few characters to have appeared in every generation of Mortal Kombat games
        as a playable character.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Dragon Fire</li>
        <li>SLow Dragon Fire</li>
        <li>Large Fireball</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Shaolin Flame</li>
        <li>Windmill Punches</li>
        <li>Light Metamorphosis</li>
    </ul>
</div>
</body>
</html>