<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Mileena</title>
</head>
<body>
<h1>Information about Mileena from Mortal Kombat 1</h1>

<div>
    <img src="/images/MileenaLarge.jpg" alt="Фото персонажа Mileena">
    <h2>Character Name: Mileena</h2>
    <p>Biography: Mileena is a character in the Mortal Kombat fighting game series.
        A genetic experiment created by the sorcerer Shang Tsung,
        she is one of the adopted daughters of the Outworld Emperor Shao Kahn and one of his personal enforcers.
        She has served as an antagonist throughout the series.

        Mileena made her debut in Mortal Kombat II as a playable character
        and has been a playable character in a majority of her appearances in the series.
        Mileena returned in Mortal Kombat X and served as a quaternary antagonist in the game's Story Mode.
        She later returned in Mortal Kombat 11 as DLC as part of the Kombat Pack 2.

        A new version of Mileena returns in Mortal Kombat 1,
        serving as a supporting character in the game's Story Mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Soaring Sai</li>
        <li>Kick From Above</li>
        <li>Rolling Thunder</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Low Pounce</li>
        <li>Sai Slide</li>
        <li>Death Spin</li>
    </ul>
</div>
</body>
</html>
