<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Nitara</title>
</head>
<body>
<h1>Information about Nitara from Mortal Kombat 1</h1>

<div>
    <img src="/images/NitaraLarge.jpg" alt="Фото персонажа Nitara">
    <h2>Character Name: Scorpion</h2>
    <p>Nitara is a character in the Mortal Kombat fighting game series.
        She made her debut in Mortal Kombat: Deadly Alliance. She is a vampiress from the realm of Vaeternus,
        who sought her home realm's freedom from Outworld. But now in the New Era,
        she fights for her realm's survival.

        Nitara returns playable again for the first time in Mortal Kombat 1.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Unicorn Kick</li>
        <li>Blood Spit</li>
        <li>Bad Blood</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Dark Plunge</li>
        <li>Air Dashes</li>
        <li>Blood Sacrifice</li>
    </ul>
</div>
</body>
</html>
