<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Raiden</title>
</head>
<body>
<h1>Information about Raiden from Mortal Kombat 1</h1>

<div>
    <img src="/images/RaidenLarge.jpg" alt="Фото персонажа Raiden">
    <h2>Character Name: Scorpion</h2>
    <p>Biography: Kuai Liang (奎良), once known as Sub-Zero (絶対零度, "Absolute Zero"),
        Grandmaster (of the Lin Kuei),
        Tundra, and briefly as the cyborg LK-52O is a Lin Kuei assassin in the Mortal Kombat fighting game series.

        Kuai Liang made his playable debut in Mortal Kombat II as the younger brother of Bi-Han,
        who was the original Sub-Zero in the first Mortal Kombat game.
        He takes the mantle of Sub-Zero in his later appearances in the series but reappears under his original
        alias of Tundra in Mortal Kombat (2011) before again going under the mantle of Sub-Zero.
        In Mortal Kombat 1, he takes the mantle of Scorpion in the newly altered timeline.

        Kuai Liang would become a frequent supporting character after his debut.
        He would later end the long-standing rivalry between the Lin Kuei and Shirai Ryu
        after becoming Grandmaster and making peace with his rival Hanzo Hasashi in the alternate timeline.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Spear Special</li>
        <li>Teleport Punch</li>
        <li>Take Down</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Flame Breath</li>
        <li>Hellfire</li>
        <li>Death Spin</li>
    </ul>
</div>
</body>
</html>
