<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Raiden</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #FFD700, #000080);
        /* Градиент с золотисто-желтого (#FFD700) к темно-синему (#000080) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Raiden from Mortal Kombat 1</h1>

<div>
    <img src="/images/RaidenLarge.jpg" alt="Фото персонажа Raiden">
    <h2>Character Name: Raiden</h2>
    <p>Biography: Raiden (雷電) is a character in the Mortal Kombat fighting game series.
        Being the eternal God of Thunder,
        Raiden has been one of the most memorable characters in the fighting game genre as well as the earliest
        playable Gods in the genre. He has remained a major, central character throughout his appearances,
        often serving as the deuteragonist of the franchise behind Liu Kang. In the new timeline,
        Raiden's role is reversed where he's young & mortal.

        Raiden made his debut as one of the few original characters in the first Mortal Kombat game.
        He holds the distinction along with Scorpion and Sub-Zero, in one form or another,
        of appearing in every generation of Mortal Kombat games as a playable character.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Projectile Cancel</li>
        <li>Vicinity Blast</li>
        <li>Shocking Touch</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Shocking Touch</li>
        <li>Electricity</li>
        <li>Torpedo</li>
    </ul>
</div>
</body>
</html>
