<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Rain</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #483D8B, #87CEEB);
        /* Градиент с сине-фиолетового (#483D8B) к голубовато-сиреневому (#87CEEB) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Rain from Mortal Kombat 1</h1>

<div>
    <img src="/images/RainLarge.jpg" alt="Фото персонажа Rain">
    <h2>Character Name: Rain</h2>
    <p>Biography: Rain is a character in the Mortal Kombat fighting game series.
        The Demi-God son of the God Argus and half-brother to the Demi-Gods Taven and Daegon,
        Rain is a treacherous Edenian Prince wishing to claim the Outworld throne while seeking revenge against
        his father for the death of his mother.

        Rain made his debut in the original Ultimate Mortal Kombat 3 as a gag character before gaining
        an expanded backstory and being playable in the game's home console versions, becoming a recurring character
        in the series. He later returned as one of the many playable characters in Mortal Kombat: Armageddon.
        Rain would appear in Mortal Kombat (2011) as a playable character through DLC as part of the Season Pass.

        Rain appeared in Mortal Kombat X as a non-playable fightable character while also serving as a minor
        antagonist in the game's Story Mode.
        He returned again in Mortal Kombat 11 as a playable character through DLC as part of the Kombat Pack 2,
        becoming the first character in Mortal Kombat history
        to appear in more than one game as a downloadable character.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Shocking Bolt</li>
        <li>Super Roundhouse</li>
        <li>Water Blast</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>H2O Boost</li>
        <li>Katar Toss</li>
        <li>Argus Plunge</li>
    </ul>
</div>
</body>
</html>
