<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Reiko</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #4682B4, #000000);
        /* Градиент с голубовато-серого (#4682B4) к черному (#000000) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Reiko from Mortal Kombat 1</h1>

<div>
    <img src="/images/ReikoLarge.jpg" alt="Фото персонажа Reiko">
    <h2>Character Name: Reiko</h2>
    <p>Biography: In his first appearance,
        Reiko appeared as a male adult with glowing blue eyes and black markings on his face,
        similar to Shang Tsung's in MK3. He appears to be a slightly older man,
        with grey/white hair at his temples and wrinkles on his forehead and the corners of his eyes,
        giving him a somewhat stern and grizzled appearance.

        Much like many of the characters that debuted in MK4,
        Reiko bore a facial semblance to another person in the MK team, with the case of Reiko being Ed Boon himself.
        Reiko wears a red vest over a black top, with the yellow Netherealm Army of Darkness symbol on his back.
        He wears a red belt, shin guards, spiked forearm guards, and black straps around his upper arm.
        He has black hair with gray on the sides, and black face paint around his eye area.

        This outfit was used in Mortal Kombat: Armageddon as his alternate costume,
        excluding the Brotherhood of Shadow insignia. Making his reappearance in Armageddon,
        he was redesigned to feature an outfit strikingly similar to Shao Kahn,
        as a reference to him fancying wearing his helmet and pretending to be him when he was not around.
        However, unlike Shao Kahn, Reiko sports a slightly tanned skin and wears dark pants under his armor.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Quick Spin Behind</li>
        <li>Flip Kick</li>
        <li>Charging Pain</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Retaliation</li>
        <li>Pale Rider</li>
        <li>Taktical Takedown</li>
    </ul>
</div>
</body>
</html>
