<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Reptile</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #228B22, #000000);
        /* Градиент с зеленого (#228B22) к черному (#000000) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Reptile из Mortal Kombat 1</h1>

<div>
    <img src="/images/ReptileLarge.jpg" alt="Фото персонажа Reptile">
    <h2>Character Name: Reptile</h2>
    <p>Biography:Syzoth, more commonly referred to as Reptile, is a character in the Mortal Kombat fighting game series.
        A humanoid-reptilian from the realm of Zaterra, Reptile has remained one of the most recognized
        character in the series. He has served as a neutral and antagonistic character throughout his appearances,
        often siding with many other Outworld characters while staying loyal to Shang Tsung.

        Reptile made his debut as one of the few original characters in the first Mortal Kombat game,
        appearing as an unplayable secret character, the first secret character in fighting game history.
        He would make his playable debut in Mortal Kombat II.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Power Slide</li>
        <li>Chameleon</li>
        <li>Running Serpent</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Slow Force Ball</li>
        <li>Fast Force Ball</li>
        <li>Upper Force Ball</li>
    </ul>
</div>
</body>
</html>
