<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Sindel</title>
</head>
<body>
<h1>Information about Sindel from Mortal Kombat 1</h1>

<div>
    <img src="/images/SindelLarge.jpg" alt="Фото персонажа Sindel">
    <h2>Character Name: Scorpion</h2>
    <p>Biography: Sindel is a character in the Mortal Kombat fighting game series.
        She made her debut in Mortal Kombat 3.

        Sindel returned in Mortal Kombat 11 as a DLC character, being the fourth character available in the Kombat Pack.
        She also served as a secondary antagonist in the Aftermath Story Mode expansion, serving it alongside Shao Kahn.

        Sindel returns as a playable character in Mortal Kombat 1 while
        also serving as a supporting ally in the game’s story mode.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Banshee Scream</li>
        <li>Shriek</li>
        <li>Levitate</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Mane Squeeze</li>
        <li>Star Screamer</li>
        <li>Step Up</li>
    </ul>
</div>
</body>
</html>
