<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Smoke</title>
</head>
<body>
<h1>Information about Smoke from Mortal Kombat 1</h1>

<div>
    <img src="/images/SmokeLarge.jpg" alt="Фото персонажа Smoke">
    <h2>Character Name: Smoke</h2>
    <p>Biography:Tomas Vrbada, better known as Smoke, is a Lin Kuei assassin in the Mortal Kombat fighting game series.

        Smoke made his debut in Mortal Kombat II as an unplayable secret character,
        appearing as a human before making his playable debut in Mortal Kombat 3 as a cyborg.

        Smoke returned in Mortal Kombat (2011) as a playable character,
        appearing in his human form for the first time in 6 years.
        In Mortal Kombat X where he is a Revenant and a non-playable character,
        Tomas renounced the Smoke moniker in favor of calling himself Enenra.
        In Mortal Kombat 1, he returns to the title of Smoke.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Teleport Punch</li>
        <li>Smokeycut</li>
        <li>Invisibility</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Stinky Fingers</li>
        <li>Play Dead</li>
        <li>Smoke Cloud</li>
    </ul>
</div>
</body>
</html>
