<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about Sub-Zero</title>
</head>
<body>
<h1>Information about Sub-Zero from Mortal Kombat 1</h1>

<div>
    <img src="/images/SubZero.jpg" alt="Фото персонажа Scorpion">
    <h2>Character Name: Sub-Zero</h2>
    <p>Biography:
        Bi-Han made his debut as one of the few original characters in the first Mortal Kombat game as the original Sub-Zero
        , a mantle later passed down to his younger brother Kuai Liang after his death.
        He later reappears as the Elder Sub-Zero in Mortal Kombat (2011), and returns as Sub-Zero in Mortal Kombat 1.

        Bi-Han made his debut as Noob Saibot in Mortal Kombat II as a secret character,
        a role he takes on in many games after before making his playable debut in Ultimate Mortal Kombat 3.
        However, the identity of Noob Saibot being Bi-Han was not established until Mortal Kombat: Deception.
        He reappears as Noob Saibot in Mortal Kombat (2011) and Mortal Kombat 11.

        After his death and resurrection as Noob Saibot in the original and alternate timelines,
        he has been a recurring antagonist in the franchise,
        usually siding with other characters on the side of evil in a bid to benefit himself.
        He also serves as a major antagonist towards his younger brother and Hanzo Hasashi in many instances.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Ice Klone</li>
        <li>Slide</li>
        <li>Deep Freeze</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Frozen Aura</li>
        <li>Ice Shower</li>
        <li>Ground Freeze</li>
    </ul>
</div>
</body>
</html>