<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about Tanya</title>
</head>
<body>
<style>
    body {
        background: linear-gradient(to bottom, #800000, #FFD700);
        /* Градиент с темно-красного (#800000) к золотисто-желтому (#FFD700) */
        color: white; /* Устанавливает цвет текста на белый */
        font-family: Arial, sans-serif; /* Задает шрифт текста */
    }
</style>
<h1>Information about Tanya from Mortal Kombat 1</h1>

<div>
    <img src="/images/TanyaLarge.jpg" alt="Фото персонажа Tanya">
    <h2>Character Name: Tanya</h2>
    <p>Biography:Tanya is a character in the Mortal Kombat fighting game series.
        First presented as a treacherous and deceiving Edenian,
        Tanya has typically served as a minor antagonist in the series,
        siding with many of the major villains in the series. She serves as a major ally to the half-Tarkatan Mileena.

        Tanya made her playable debut in Mortal Kombat 4 and appeared in a few games afterwards,
        until being one of the many characters in Mortal Kombat: Armageddon.

        Tanya returned in Mortal Kombat X as a non-playable,
        albeit fightable character while also serving as a minor antagonist in the game's Story Mode.
        She later appeared as a DLC character, being the second available through DLC as part of the Kombat Pack.

        Tanya later returns playable again in Mortal Kombat 1.</p>

    <h3>Combo-Attack:</h3>
    <ul>
        <li>Human Cannon Drill</li>
        <li>Air Fire Blast</li>
        <li>Surging Blast</li>
    </ul>

    <h3>Special Moves:</h3>
    <ul>
        <li>Teleport Away/Forward</li>
        <li>Air Split Drop</li>
        <li>Find Me</li>
    </ul>
</div>
</body>
</html>
